doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        title Hello!
        meta(name='description', content='Simple example of postcss')
        link(href='style.css', rel='stylesheet')
    body

        .wrapper
            header
                h1 This is my cat Geralt

            article
                ul.flex-container
                    li.flex-item
                        img(src='img/photo_2015-06-04_12-51-10.jpg')
                    li.flex-item
                        img(src='img/photo_2015-06-04_12-51-20.jpg')
                    li.flex-item
                        img(src='img/photo_2015-06-04_12-51-28.jpg')
                    li.flex-item
                        img(src='img/photo_2015-06-04_12-51-34.jpg')
                    li.flex-item
                        img(src='img/photo_2015-06-04_12-51-32.jpg')
                    li.flex-item
                        img(src='img/photo_2015-06-04_12-52-12.jpg')
